<!doctype html>
<html lang="en">
  <head>
    <title>Perfil Usuario</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="../css/editar.css">

  </head>
  <body>

     <br><br><br><br>

  <h1 class="perfil">Bienvenidos a tu perfil de usuario </h1>

  <br>

  <table class="table">
    
      <thead>
        
          <tr class="color">
              <th>ID</th>
              <th>Marca</th>
              <th>Nombre</th>
               <th>Precio</th>
               <th>Imagen</th>
               <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr class="color2">
              <td scope="row">1</td>
               <td>POLO</td>
               <td>DOLCE & GABBANA</td>
               <td>$1.029.350,00</td>
               <td><img src="../img/foto/gafas5.webp" alt=""></td>
               <td>
                <a href="./editar.html" class="btn btn-success">Editar</a>
                <a href="../checkout.html" class="btn btn-primary">Atras</a>
                <a href="./crear.html" class="btn">Crear</a>

                <tr class="color2">
                  <td scope="row">2</td>
                   <td>VOGUE</td>
                   <td>VOGUE 0VO</td>
                   <td>$318.920,00</td>
                   <td><img src="../img/foto/gafas4.webp" alt=""></td>
                   <td>
                    <a href="./editar.html" class="btn btn-success">Editar</a>
                    <a href="../checkout.html" class="btn btn-primary">Atras</a>
                    <a href="./crear.html" class="btn">Crear</a>

                    <tr class="color2">
                      <td scope="row">3</td>
                       <td>ARNETTE</td>
                       <td>ARNETTE 0AN</td>
                       <td>$378.420,00</td>
                       <td><img src="../img/foto/gafas2.webp" alt=""></td>
                       <td>  

                        <a href="./editar.html" class="btn btn-success">Editar</a>
                        <a href="../checkout.html" class="btn btn-primary">Atras</a>
                        <a href="./crear.html" class="btn">Crear</a>
                    
                        <tr class="color2">
                          <td scope="row">4</td>
                           <td>VERSACE</td>
                           <td>Vittorio</td>
                           <td>$311.780,00</td>
                           <td><img src="../img/foto/gafas.webp" alt=""></td>
                           <td>



                   <a href="./editar.html" class="btn btn-success">Editar</a>
                   <a href="../checkout.html" class="btn btn-primary">Atras</a>
                   <a href="./crear.html" class="btn btn-text-success">Crear</a>
               </td>

          </tr>
        
      </tbody>
  </table>
  
  </body>

</html>